<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Gift Store</title>
    <meta name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png" />
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png" />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <header class="header container">
      <div class="header__logo logo">
        <h5 class="logo__text"><a href="#">Logo</a></h5>
      </div>

      <div class="header__nab-bar nav-bar">
        <nav class="site-nav">
          <ul class="site-nav__list">
            <li class="site-nav__item">
              <a href="#" class="site-nav__link">Home</a>
            </li>
            <li class="site-nav__item">
              <a href="#" class="site-nav__link">About Us</a>
            </li>
            <li class="site-nav__item">
              <a href="#" class="site-nav__link">Services</a>
            </li>
            <li class="site-nav__item">
              <a href="#" class="site-nav__link">Blogs</a>
            </li>
          </ul>
        </nav>

        <div class="nav-bar__burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <button class="header__button button button--theme-secondary-yellow" type="button">Gift Finder</button>
    </header>

    <main class="main">
      <section class="main__hero hero">
        <div class="hero__wrapper">
          <div class="hero__card text-card">
            <div class="text-card__wrapper">
              <h5 class="text-card__title">Find a gift for your wife or girlfriend</h5>
              <p class="text-card__text">Struggling to find a gift for your wife or girlfriend? No problem!</p>
              <button href="#" class="text-card__button-link button button--theme-link-primary">Find gift now</button>
            </div>
          </div>
          <div class="hero__card img-card">
            <picture>
              <source srcset="img/img-card/item-01.webp" type="image/webp" />
              <img src="img/img-card/item-01.jpg" alt="Lorem ipsum" />
            </picture>
          </div>
          <div class="hero__card img-card">
            <picture>
              <source srcset="img/img-card/item-02.webp" type="image/webp" />
              <img src="img/img-card/item-02.jpg" alt="Lorem ipsum" />
            </picture>
          </div>
          <div class="hero__card text-card">
            <div class="text-card__wrapper">
              <h5 class="text-card__title">How we work</h5>
              <p class="text-card__text">
                We’ve actually already asked hundreds of women what they want, and made a database with the results. All
                you have to do is take our short survey that only takes seconds, and our proprietary algorithm will
                match you with a few perfect gift options.
              </p>
              <a class="text-card__button-link button button--theme-link-secondary" href="#">Learn More</a>
            </div>
          </div>
        </div>
      </section>
      <section class="main__occasions occasions">
        <h3 class="occasions__title">Gifts for all Occasions</h3>
        <p class="occasions__description">“Try our web app to find the best gifts for all occasions”</p>
        <div class="occasions__cards cards-occasions">
          <ul class="cards-occasions__list">
            <li class="cards-occasions__item item-occasions">
              <div class="item-occasions__img">
                <picture>
                  <source srcset="img/item-occasions/item-01.webp" type="image/webp" />
                  <img src="img/item-occasions/item-01.jpg" alt="Lorem ipsum" />
                </picture>
              </div>
              <div class="item-occasions__text">
                <h5 class="item-occasions__title">Birthday</h5>
                <a class="item-occasions__link" href="#">See More</a>
              </div>
            </li>
            <li class="cards-occasions__item item-occasions">
              <div class="item-occasions__img">
                <picture>
                  <source srcset="img/item-occasions/item-02.webp" type="image/webp" />
                  <img src="img/item-occasions/item-02.jpg" alt="Lorem ipsum" />
                </picture>
              </div>
              <div class="item-occasions__text">
                <h5 class="item-occasions__title">Anniversary</h5>
                <a class="item-occasions__link" href="#">See More</a>
              </div>
            </li>
            <li class="cards-occasions__item item-occasions">
              <div class="item-occasions__img">
                <picture>
                  <source srcset="img/item-occasions/item-03.webp" type="image/webp" />
                  <img src="img/item-occasions/item-03.jpg" alt="Lorem ipsum" />
                </picture>
              </div>
              <div class="item-occasions__text">
                <h5 class="item-occasions__title">Valentine's Day</h5>
                <a class="item-occasions__link" href="#">See More</a>
              </div>
            </li>
            <li class="cards-occasions__item item-occasions">
              <div class="item-occasions__img">
                <picture>
                  <source srcset="img/item-occasions/item-04.webp" type="image/webp" />
                  <img src="img/item-occasions/item-04.jpg" alt="Lorem ipsum" />
                </picture>
              </div>
              <div class="item-occasions__text">
                <h5 class="item-occasions__title">Christmas</h5>
                <a class="item-occasions__link" href="#">See More</a>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="main__banner banner">
        <div class="banner__wrapper">
          <div class="banner__text-block">
            <h3 class="banner__title">Ready to get started?</h3>
            <h5 class="banner__cta">Sign up or contact us</h5>
          </div>
          <div class="banner__buttons-block">
            <button class="banner__button button button--theme-primary">Find gift now</button>
            <button class="banner__button button button--theme-secondary-black">How it works</button>
          </div>
        </div>
      </section>
      <section class="main__blogs blogs container">
        <h3 class="blogs__title">Our Best Blogs Ever</h3>
        <p class="blogs__description">“Try our blog to find the best tips and tricks to select your gift”</p>
        <div class="blogs__wrapper">
          <article class="article-pinned">
            <div class="article-pinned__img-block">
              <picture>
                <source srcset="img/article-pinned/item-01.webp" type="image/webp" />
                <img src="img/article-pinned/item-01.jpg" alt="Lorem ipsum" />
              </picture>
            </div>
            <div class="article-pinned__text-block">
              <span class="article-pinned__author">Mr.John Doe</span>
              <h5 class="article-pinned__title">The best way to wish your wife</h5>
              <a class="article-pinned__link" href="#">Read More</a>
            </div>
          </article>
          <div class="last-articles">
            <ul class="last-articles__list">
              <li class="last-articles__item">
                <article class="last-article">
                  <h5 class="last-article__title">Database to find the gifts for your girlfriend</h5>
                  <p class="last-article__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore...
                  </p>
                  <a class="last-article__link" href="#">Read More</a>
                </article>
              </li>
              <li class="last-articles__item">
                <article class="last-article">
                  <h5 class="last-article__title">How Artificial Intelligence read your mind to find the best gift</h5>
                  <p class="last-article__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore...
                  </p>
                  <a class="last-article__link" href="#">Read More</a>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="footer__site-nav footer-nav">
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">Home</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">About</a>
          </li>
          <li class="footer-nav__item logo logo--theme-footer">
            <h5 class="logo__text">Logo</h5>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">Service</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">Blog</a>
          </li>
        </ul>
      </div>
      <hr class="footer__divider" />

      <div class="footer__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="Facebook">
              <img src="img/socials/fb.svg" alt="Facebook" />
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="Twitter">
              <img src="img/socials/twitter.svg" alt="Twitter" />
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="Instagram">
              <img src="img/socials/insta.svg" alt="Instagram" />
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="Youtube">
              <img src="img/socials/yt.svg" alt="Youtube" />
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="Pinterest">
              <img src="img/socials/pinterest.svg" alt="Pinterest" />
            </a>
          </li>
        </ul>
      </div>

      <span class="footer__copyright">© 2010 — 2020</span>
      <a class="footer__terms" href="#">Privacy - Terms</a>
    </footer>

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
