// !HEADER

.header {
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

// !MAIN
.main {
  @media (max-width: 768px) {
    margin-top: 115px;
  }
}

//!NAV-BAR
.nav-bar {
  &__burger {
    @media (max-width: 768px) {
      display: flex;
    }
  }
}

//!SITE-NAV
.site-nav {
  @media (max-width: 768px) {
    position: fixed;
    top: 115px;
    left: -100%;
    min-height: 100vh;
    width: 100%;
    background-color: #eee;
  }

  &__list {
    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      margin-top: 30px;
      margin-left: 30px;
    }
  }

  &__item {
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__link {
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
}
// !MAIN
.main {
  &__hero {
  }
}

// !HERO
.hero {
  &__wrapper {
    @media (max-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 720px));
    }
  }

  &__card {
    @media (max-width: 768px) {
      height: auto;
    }
  }
}

.img-card {
  @media (max-width: 1024px) {
    &:nth-child(2n) {
      order: 3;
    }
  }
}

// !OCASSIONS
.occasions {
  &__title {
  }

  &__description {
  }

  &__cards {
  }
}
.cards-occasions {
  &__list {
  }

  &__item {
  }
}
.item-occasions {
  &__img {
  }

  &__title {
  }

  &__link {
  }
}

// !BANNER

.banner {
  &__wrapper {
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__text-block {
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__title {
  }

  &__cta {
  }

  &__buttons-block {
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__button {
  }
}

// !BLOGS

.blogs {
  &__title {
  }

  &__description {
  }

  &__wrapper {
  }
}

.article-pinned {
  &__img-block {
  }

  &__text-block {
  }

  &__author {
  }

  &__title {
  }

  &__link {
  }
}
.last-articles {
  &__list {
  }

  &__item {
  }
}
.last-article {
  &__title {
  }

  &__text {
  }

  &__link {
  }
}
